body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    background-color: #973030;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation-name: anm;
    animation-duration: 6s;
    animation-iteration-count: 100;
}
@keyframes anm {
    from {background-color: #d67171;}
    to {background-color: rgb(116, 79, 201);}
}

h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
}
input[type="text"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="checkbox"] {
    margin-right: 10px;
}
input[type="file"] {
    display: none;
}
.checkbox-label {
    display: flex;
    align-items: center;
}
.file-upload-label {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.file-upload-label:hover {
    background-color: #0056b3;
}
.file-upload-input {
    display: none;
}
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.gender
{
display: flex;
}
.winner-table
{
    height: 200px;
    background-color: #f0f0f0;
}
th,td
{
    border: 1px solid rgb(179, 121, 121);
    padding: 10px;
    width: 200px;
}
table
{
    margin-top: 20px;
    margin-left: 420px;
}

.audio
{
    height: 100px;
}
audio
{
    margin-left: 500px;
    margin-top: 30px;
}